#navbar ul{
	flex-direction: column;

}
#img1 img{
	 position: absolute;
	top: 222px;
    width: 520px;
}
#img2 img{
	width: 460px;
    position: absolute;
    top: 283px;
}
#cpy{
	display: inline-block;
	position: absolute;
	top: 3420px;
	width: 100%
}